<template name="footer">
	<div class="container-fluid pie">
		<div class="container">
			<div class="col-xs-12 col-sm-12">
				<div class="col-xs-3 col-sm-3">
					<div class="col-xs-6 col-sm-6">
						<img src="/images/CGSlogo.png" height="32" width="71" class="img-responsive" />
					</div>
					COMPAÑIA GENERAL<br/>DE SERVICIOS SRL
				</div>

				<div class="col-xs-3 col-sm-3">
					<div class="col-xs-4 col-sm-4">
						<img src="/images/home.png" class="img-responsive" />
					</div>
					Los Zorzales 620 - Juana Koslay<br/>Prov de San Luis - CP: 5701
				 </div>

				<div class="col-xs-3 col-sm-3">
					<div class="col-xs-4 col-sm-4">
						<img src="/images/phone.png" class="img-responsive" />
					</div>
					J Pina: +54 9 266(15)4512645<br/>G Falavigna: +54 9 266(15)4512644
				</div>

				<div class="col-xs-3 col-sm-3">
					<div class="col-xs-4 col-sm-4">
						<img src="/images/mail.png" class="img-responsive" />
					</div>
					J Pina: <a href="mailto:pinajoa@yahoo.com">pinajoa@yahoo.com</a><br/>G Falavigna: <a href="mailto:gfalav@hotmail.com"> gfalav@hotmail.com</a>
				</div>
			</div>
		</div>
	</div>
</template>